In [1]:
#test code

In [2]:
import numpy as np
import pandas as pd
from DPP_NEW import dataPreprocess

dataset_judge= pd.read_csv('judge.csv')

In [3]:
dataset_judge

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15605215,Stevenson,767,France,Male,48,9,0.00,2,0,1,175458.21
1,15567855,Chukwufumnanya,623,France,Female,29,1,0.00,2,0,0,39382.06
2,15780256,Palfreyman,630,France,Male,34,9,0.00,2,1,1,114006.35
3,15592229,Mullan,713,France,Female,52,0,185891.54,1,1,1,46369.57
4,15788683,Kang,588,Germany,Female,34,10,129417.82,1,1,0,153727.32
5,15693203,Powell,710,Spain,Female,75,5,0.00,2,1,1,9376.89
6,15635125,Findlay,566,Spain,Male,63,2,120787.18,2,1,1,52198.84
7,15582129,Hsia,517,France,Male,62,1,43772.66,3,1,0,187756.24
8,15703482,Walker,710,Germany,Male,34,9,134260.36,2,1,0,147074.67
9,15670738,Mazzanti,733,Germany,Male,45,2,113939.36,2,1,0,3218.71
10,15624775,Onyeoruru,729,France,Male,67,2,94203.80,1,0,1,102391.06
11,15741094,Sagese,693,France,Male,21,1,0.00,2,1,1,3494.02
12,15687828,Gorshkov,644,Spain,Female,31,5,86006.30,1,1,1,73922.95
13,15661708,She,508,France,Female,41,5,0.00,2,1,1,94170.84
14,15790497,Ross,503,Spain,Male,37,6,0.00,2,0,0,136506.86
15,15620103,Ho,660,France,Female,40,8,167181.01,1,1,1,185156.94
16,15586680,Fleming,462,France,Male,27,4,176913.52,1,1,0,80587.27
17,15749557,Chao,707,France,Female,44,6,0.00,2,1,1,192542.17
18,15622443,Marshall,549,France,Male,31,4,0.00,2,0,1,25684.85
19,15745533,Sargent,799,France,Female,63,1,110314.21,2,1,0,37464.00
20,15691647,McGregor,411,France,Female,35,2,0.00,2,1,1,93825.78
21,15599289,Yeh,724,France,Female,37,10,68598.56,1,1,0,157862.82
22,15766826,North,824,France,Male,26,7,146266.00,1,1,0,21903.62
23,15643523,Power,710,Spain,Female,30,10,0.00,2,1,0,19500.10
24,15720637,Bell,710,Germany,Female,46,10,120530.34,1,1,0,166586.99
25,15693947,Tokareva,614,France,Female,19,5,97445.49,2,1,0,122823.34
26,15726556,Macgroarty,594,Germany,Female,26,6,135067.52,2,0,0,131211.86
27,15591257,Ejimofor,796,France,Male,24,8,0.00,2,1,0,61349.37
28,15792473,Reilly,598,Germany,Female,50,5,88379.81,3,0,1,64157.24
29,15605113,Sutherland,518,France,Female,27,1,133801.49,1,1,1,143315.57
...,...,...,...,...,...,...,...,...,...,...,...,...
970,15719579,McIntosh,670,Germany,Female,33,9,84521.48,2,0,1,198017.05
971,15749947,Black,665,France,Female,44,7,0.00,2,1,1,66548.58
972,15793856,Abdulov,667,Spain,Female,36,3,121542.57,2,1,1,186841.71
973,15620756,Stokes,747,France,Male,49,6,202904.64,1,1,1,17298.72
974,15617166,Ritchie,610,France,Male,37,0,0.00,1,1,0,114514.64
975,15708791,Abazu,584,Spain,Male,32,9,85534.83,1,0,0,169137.24
976,15800620,Fitzgerald,691,France,Female,29,9,0.00,2,0,0,199635.93
977,15747288,Ferri,838,Spain,Female,40,6,61671.19,1,0,1,150659.35
978,15578073,Barker,686,Spain,Male,22,8,0.00,2,0,0,142331.85
979,15786905,Russo,749,Germany,Female,40,8,141782.57,2,0,0,86333.63
980,15625522,Walker,700,Spain,Male,31,7,0.00,2,0,1,145151.96
981,15796413,Green,794,France,Male,46,6,0.00,2,1,0,195325.74
982,15732791,Davide,641,Germany,Male,32,5,122947.92,1,1,1,99154.86
983,15665159,Brooks,727,France,Male,61,0,128213.96,2,1,1,188729.08
984,15762123,Davide,717,Spain,Female,34,1,0.00,2,1,0,119313.74
985,15715208,Watkins,804,Germany,Female,33,10,138335.96,1,1,1,80483.76
986,15575002,Ferguson,676,France,Male,29,4,140720.93,1,1,0,36221.18
987,15752097,Chiazagomekpere,708,Spain,Male,38,8,99640.89,1,1,0,12429.22
988,15714634,Nebechi,837,France,Male,26,4,89900.24,2,1,0,175477.03
989,15569249,Howarth,576,France,Female,55,6,44582.07,3,0,1,67539.85
990,15746326,Fields,591,France,Male,43,3,0.00,2,0,1,198926.36
991,15686913,Kung,757,France,Male,38,0,0.00,1,1,0,83263.06
992,15783883,Onwuka,753,Germany,Female,38,1,117314.92,1,1,0,122021.33
993,15725664,Wallace,549,France,Female,38,8,107283.40,1,0,0,157442.75
994,15584967,Chiganu,596,Spain,Male,57,6,0.00,2,1,1,72402.00
995,15747534,Torkelson,595,France,Male,46,10,0.00,1,1,0,73489.15
996,15664432,Chao,727,Spain,Female,49,7,96296.78,1,1,0,190457.87
997,15726103,Tsou,689,Germany,Female,55,1,76296.81,1,1,0,42364.75
998,15766374,Leak,632,Germany,Male,42,4,119624.60,2,1,1,195978.86
999,15684960,Yewen,559,France,Female,46,5,0.00,1,1,0,21006.10

In [4]:
X=dataset_judge.iloc[:, 2:12].values

In [6]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X1=LabelEncoder()
X[:,1]=labelencoder_X1.fit_transform(X[:,1])
labelencoder_X2=LabelEncoder()
X[:,2]=labelencoder_X2.fit_transform(X[:,2])

In [ ]:
layer0 = X
layer1 = sigmoidActivation(np.dot(layer0, SynapseMatrix1))
layer2 = sigmoidActivation(np.dot(layer1, SynapseMatrix2))
layer3 = sigmoidActivation(np.dot(layer2, SynapseMatrix3))
layer4 = sigmoidActivation(np.dot(layer3, SynapseMatrix4))
y_pred = layer4

In [ ]:
Exited=(y_pred>=0.5).astype(int) 
Exited=Exited.astype(int)

In [9]:
import csv
CustomerID=dataset_judge.iloc[:, 0].values
CustomerID= CustomerID.reshape((-1, 1))

In [ ]:
B=np.vstack((CustomerID, Exited))
B=B.T

In [ ]:
#generating the oupput judge-judge-pred.csv file

with open("jugde_pred.csv","w+") as my_csv:
    csvWriter = csv.writer(my_csv,delimiter=',')
    csvWriter.writerows(B)